 .header {
  grid-area: header;
  border-color: #c9c619;
        background-color: #e1da8b;
        text-align: center;
        color: #0a0903;
      }
.header h1 {
        color: var(--primary-color);
        font-size: 2.5em;
        margin: 0;
      }