.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  text-shadow: 1px 1px 2px var(--quaternary-color);
  position: sticky;
  top: 0;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-links li {
  margin: auto;
}
.nav-links li a {
  color: var(--secondary-color);
  text-decoration: none;
}
.nav-links li a:hover {
  color: var(--septenary-color);
  transition: transform 0.3s ease;
}

