.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  text-shadow: 1px 1px 2px var(--quaternary-color);
  position: sticky;
  top: 0;
  width: 100%;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (min-width: 480px) {
  .nav-links {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  font-size: 1.2rem;
}
}
.nav-links li {
  margin: auto;
}
.nav-links li a {
  /* color: var(--secondary-color);
  text-decoration: none; */
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
  text-decoration-color: var(--tertiary-color);
  color: var(--secondary-color); 
  text-underline-offset: 3px;
}
.nav-links li a:hover {
  color: var(--septenary-color);
  transition: transform 0.3s ease;
}

