* {
    margin: 0;
  }

  body {
    color: #000;
    background: #fff;
    font-family: Arial, sans-serif;
    padding: 1em;
    font-size: clamp(16px, calc(9.333px + 1.3889vw), 48px);
  }
  .container {
    display: grid;
    grid-template-areas: 
    "header" 
    "sidebar"
    "main" 
    "footer";
  }
  @media (min-width: 768px) {
  .container {
    grid-template-areas: 
    "header header" 
    "sidebar main" 
    "footer footer";
  }
}

  .header {
    grid-area: header;
    background-color: #f2f2f2;
    padding: 1em;
  }
  .sidebar {
    grid-area: sidebar;
    background-color: #e6e6e6;
    padding: 1em;
  }
  .main {
    grid-area: main;
    background-color: #d9d9d9;
    padding: 1em;
  }
  .footer {
    grid-area: footer;
    background-color: #f2f2f2;
    padding: 1em;
  }
  .back-link {
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    background-color: #560202;
    padding: 0.5em 1em;
    color: #fadfdf;
    font-size: 0.875em;
  }